<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo: Form</title>
</head>
<body>
    <h1>Form: Ingrese los siguientes datos</h1> 
    <br>
    <form action="resultado-form-example02" method="POST">
        <label for="fname">Nombre:</label>
        <input type="text" id="fname" name="nombre"><br><br>
        <label for="lname">Apellido:</label>
        <input type="text" id="lname" name="apellido"><br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>