<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página Principal: Flask</title>
</head>
<body>
    <h1>Ejemplos:</h1> 
    <br>
    <ul>
        <li><a href="form01">Uso del form directo en el código</a></li>
        <li><a href="form02">Uso form con Ninja</a></li>
        <li><a href="mostrar_lista_datos">Mostrar una lista en html</a></li>        
        <li><a href="mostrar_dataframe">Mostrar un Dataframe</a></li>        
        <li><a href="mostrar_grafico">Mostrar un gráficos</a></li>        
    </ul>
   
</body>
</html>